<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vgaw.scaffold">

    <!--scan start-->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <!--scan end-->

    <application>
        <activity android:name=".page.common.ChooseImgAc"
            android:theme="@style/transparent_activity"/>

        <activity android:name=".page.qrcode.ScanAc"
            android:screenOrientation="userPortrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask"/>

        <activity
            android:name=".page.common.PermissionAc"
            android:launchMode="singleTop"
            android:theme="@style/transparent_activity" />

        <activity
            android:name=".page.common.WebAc"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="userPortrait" />

        <activity
            android:name=".page.common.ImgPreviewAc"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="userPortrait" />

        <provider
            android:name=".ScaffoldFileProvider"
            android:authorities="${applicationId}.scaffold.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/scaffold_file_paths"/>
        </provider>
    </application>
</manifest>
